---
layout: default
---
<div class="container">

    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">大会情報</h1>
        </div>
    </div>
    <!-- /.row -->
</div>


<div class="jfic-top-img">
    <img class="img-responsive portfolio-item center-block" src="/img/top/trophy-1140x460.jpg" alt="trophy">
</div>

<div class="container">
    <!-- Related Projects Row -->
    <div class="row">
        <div class="col-sm-12 col-xs-12">


            <h2>2015年度大会情報</h2>

            <hr>

            <ul class="list-unstyled">

                {% for post in site.posts reversed %}
                {% if post.tags contains 'competition_info' %}
                <li>

                    <h3>
                        <a href="{{ post.url | prepend: site.baseurl }}">
                            {{ post.title }}
                        </a>
                        <br>
                        <small>{{ post.term }}@{{ post.site }}</small>

                    </h3>
                    <hr>
                </li>
                {% endif %}
                {% endfor %}
            </ul>



        </div>
    </div>
    <!-- /.row -->
</div>
