---
layout: default
---

<div class="container">

    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <strong class="jfic-HP-title">日本室内自転車競技連盟</strong>
                <br>
                <small class="jfic-HP-subtitle"><small>室内自転車競技、サイクルサッカー・サイクルフィギュアの公式HPのテストサイトです。</small></small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-responsive" src="img/top/wc-tokyo-2015-01-750x500.JPG" alt="UCIサイクルサッカーワールドカップ第３戦アジアラウンド">

        </div>

        <div class="col-md-4">
            <h3><strong>Next Event</strong></h3>
            <h4><strong>ジャパンカップ（ドイツU-19交流大会）</strong></h4>
            <h5>9/20（日）サイクルフィギュアデモンストレーション@梅田東コミュニティ会館</h5>
            <h5>9/21（月・祝）サイクルサッカー本戦@梅田東コミュニティ会館</h5>
            <p>サイクルサッカー・サイクルフィギュアのドイツとの交流大会、「ジャパンカップ」が今年も開催！本場ドイツの勢いある若手プレーヤーは必見！</p>
            <a class="btn btn-primary btn-sm" href="competition_info.html">大会情報へ</a>
        </div>

    </div>
    <!-- /.row -->

    <hr>


    <!-- Related Projects Row -->
    <div class="row">

        <div class="col-sm-4 col-xs-12">
            <h4>Topics</h4>
            <div class="pre-scrollable">

                <ul class="list-group">

                    {% for post in site.posts %}
                    {% if post.tags contains 'topics' %}

                    <li class="list-group-item">
                        <a href="{{ post.url | prepend: site.baseurl}}">
                            <dt>{{ post.date | date: "%Y年%m月%d日" }}</dt>
                            <dd>{{ post.title }}</dd>
                        </a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>

            </div>
            <a class="btn btn-primary btn-sm" href="topics.html">Topics一覧</a>
        </div>

        <div class="col-sm-8 col-xs-12">
            <div class="col-md-6 col-sm-12 col-xs-6 col-jfic-xxs-12">
                <a href="about_cycleball.html">
                    <h4><strong>サイクルサッカーとは？</strong></h4>
                    <img class="img-responsive portfolio-item" src="/img/intro/cycleball-500x300.jpg" alt="サイクルサッカーとは？">
                </a>
                <p>自転車とサッカーの融合、サイクルサッカー。自転車ならではのスピード感、テクニック、球技ならではのシュート打音、パスワーク、ボディコンタクト、あらゆる角度で楽しめるスポーツです。</p>

            </div>

            <div class="col-md-6 col-sm-12 col-xs-6 col-jfic-xxs-12">
                <a href="about_cyclefigure.html">
                    <h4><strong>サイクルフィギュアとは？</strong></h4>
                    <img class="img-responsive portfolio-item" src="/img/intro/cyclefigure-500x300.jpg" alt="サイクルフィギュアとは？">
                </a>
                <p>自転車版フィギュアスケート、その名もサイクルフィギュア。自転車だからこそ生み出せるダイナミックさ、自転車を超越した美技、そこに必要とされる繊細さ、あらゆる要素を含んだ競技です。</p>
            </div>

        </div>

    </div>
    <!-- /.row -->

    <br>

    <!-- Call to Action Well -->
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">

                <strong>
                日本室内自転車競技連盟は、公共財団法人JKAの支援を受けて、活動しております。
                </strong>
                <a href="http://www.keirin-autorace.or.jp/">
                    <img class="img-responsive center-block" style="padding-top:0.5em; max-width:180px;" src="/img/sponsor/origin/bunner_jka240x66.gif"  alt="公共財団法人JKA">
                </a>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->



</div>
