---
layout: default
---

<div class="container">

    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <strong class="jfic-HP-title">日本室内自転車競技連盟</strong>
                <br>
                <small class="jfic-HP-subtitle"><small>室内自転車競技、サイクルサッカー・サイクルフィギュアの公式HPです。</small></small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-responsive" src="img/top/wc-tokyo-2015-01-750x500.JPG" alt="UCIサイクルサッカーワールドカップ第３戦アジアラウンド">
        </div>

        <div class="col-md-4">
            {% include note.html %}
        </div>

    </div>
    <!-- /.row -->

    <hr>


    <!-- Related Projects Row -->
    <div class="row">

        <div class="col-sm-4 col-xs-12">
            <h4>Topics</h4>
            <div class="pre-scrollable">

                <ul class="list-group">

                    {% for post in site.posts %}
                    {% if post.tags contains 'topics' %}

                    <li class="list-group-item">
                        <a href="{{ post.url | prepend: site.baseurl}}">
                            <dt>{{ post.date | date: "%Y年%m月%d日" }}</dt>
                            <dd>{{ post.title }}</dd>
                        </a>
                    </li>

                    {% endif %}
                    {% endfor %}

                </ul>

            </div>
            <a class="btn btn-primary btn-sm" href="topics.html">Topics一覧</a>
        </div>

        <div class="col-sm-8 col-xs-12">
            <div class="col-md-6 col-sm-12 col-xs-6 col-jfic-xxs-12">
                <a href="about_cycleball.html">
                    <h4><strong>サイクルサッカーとは？</strong></h4>
                    <img class="img-responsive portfolio-item" src="{{ site.baseurl }}/img/intro/cycleball-500x300.jpg" alt="サイクルサッカーとは？">
                </a>
                <p>自転車とサッカーの融合、サイクルサッカー。自転車ならではのスピード感、テクニック、球技ならではのシュート打音、パスワーク、ボディコンタクト、あらゆる角度で楽しめるスポーツです。</p>

                <a href="about_cycleball.html">&nbsp;&raquo;&nbsp;もっと詳しく</a>

            </div>

            <div class="col-md-6 col-sm-12 col-xs-6 col-jfic-xxs-12">
                <a href="about_cyclefigure.html">
                    <h4><strong>サイクルフィギュアとは？</strong></h4>
                    <img class="img-responsive portfolio-item" src="{{ site.baseurl }}/img/intro/cyclefigure-500x300.jpg" alt="サイクルフィギュアとは？">
                </a>
                <p>自転車版フィギュアスケート、その名もサイクルフィギュア。自転車だからこそ生み出せるダイナミックさ、自転車を超越した美技、そこに必要とされる繊細さ、あらゆる要素を含んだ競技です。</p>
                <a href="about_cyclefigure.html">&nbsp;&raquo;&nbsp;もっと詳しく</a>
            </div>

        </div>

    </div>
    <!-- /.row -->

    <br>

    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <h4><strong>2017年度加盟申請</strong></h4>
                <p><strong>JFIC主催・主管事業に参加する選手は連盟への加盟申請が必要です。</strong></p>
                <a class="btn btn-primary btn-sm" href="{{ site.baseurl }}{% post_url /info/2017-05-04-registration-for-2017 %}">加盟申請詳細へ</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
                <h4><strong>賛助会員募集のお知らせ</strong></h4>
                <p><strong>連盟の活動を支えてくださる会員様を募集しております。</strong></p>
                <a class="btn btn-primary btn-sm" href="{{ site.baseurl }}{% post_url /info/2017-05-04-invite-donation-detail %}">賛助会員詳細へ</a>
            </div>
        </div>
    </div>


    <!-- Call to Action Well -->
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">

                <strong>
                日本室内自転車競技連盟は、公共財団法人JKAの支援を受けて、活動しております。
                </strong>
                <a href="http://www.keirin-autorace.or.jp/">
                    <img class="img-responsive center-block" style="padding-top:0.5em; max-width:180px;" src="{{ site.baseurl }}/img/sponsor/origin/bunner_jka240x66.gif"  alt="公共財団法人JKA">
                </a>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->



</div>
