@charset "UTF-8";

/*for title*/
.jfic-HP-title, .jfic-HP-nav {
    font-family: 'Meiryo UI','HiraMinProN-W6','Comic Sans MS';
}
.jfic-HP-title {
    color: black;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.jfic-HP-subtitle {
    font-family: 'Meiryo UI','HiraMinProN-W6','Comic Sans MS';
}
@media (max-width: 480px) {
    .jfic-HP-title {
        font-size: 0.8em;
    }
}
@media (max-width: 360px) {
    .jfic-HP-title {
        font-size: 0.7em;
    }
}

/* for footer */

.jfic-footer-color {
    background-color: $jfic-footer-color;
}

.jfic-contact-list,
.jfic-social-media-list {
    list-style: none;
    margin-left: 0;
    padding-left:0;
}
.jfic-logo-list {
    list-style: none;
    margin-left: 0;
    padding-left:0;
}
.jfic-logo-list--item {
    text-align: center;
    margin: 2em auto;

    > a img {
        max-width: 180px;
        height: auto;
    }
}
.jfic-logo-list--item-small {
    text-align: center;
    margin: 2em auto;

    > a img {
        max-width: 150px;
        height: auto;
    }
}

/* for icon svg */
.jfic-icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

/* for media */

.jfic-media {
    width: 100%
}
.jfic-media:before,
.jfic-media:after {
    display: table; /*for clearfix*/
    content: " "; /*for clearfix*/
}
.jfic-media:after {
    clear: both; /*for clearfix*/
}
.jfic-media-img {
    float: left;
    max-width: 50%;
    height: auto;
    margin-right: 1em;

    > img {
        display: block;
        width: 100%;
    }
}
.jfic-media-body {
    /*overflow: hidden;*/ /*画像の下への文章回り込みを禁止*/
}

.jfic-map {

    position: relative;
    padding-bottom: 65%;
    height: 0;
    overflow: hidden;

}

.jfic-map__item--google {
    position: absolute;
    top: 0;
    left: 0%;
    width: 100% !important;
    height: 100% !important;
}


.jfic-video {
    position: relative;
    padding-bottom: 56.25%; /*315:560*/
}
.jfic-video > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
