<div class="well">
    <h4><strong>NEXT EVENT</strong></h4>
    <h5><strong>ジャパンカップ2017</strong></h5>
    <p>2017年9月23日-24日＠東京工業大学</p>
    <a class="btn btn-primary btn-sm" href="{{ site.baseurl }}{% post_url /competition_info/2017/2017-09-23-japancup-2017 %}">大会詳細へ</a>
</div>

<div class="well">
    <h4><strong>RESULT</strong></h4>
    <h5><strong>2017年度チャンピオンズカップ</strong></h5>
    <p>2017年7月9日＠桃山学院大学</p>
    <a class="btn btn-primary btn-sm" href="{{ site.baseurl }}{% post_url /competition_info/2017/2017-07-09-champions-cup-2017 %}">大会結果へ</a>
</div>
