<div class="well">
    <h4><strong>NEXT EVENT</strong></h4>

    <h5><strong>2018 年度チャンピオンズカップ</strong></h5>
    <p>(世界選手権派遣選手選考会)</p>
    <p>2018 年 7 月 21 日、22 日＠東京工業大学</p>
    <a class="btn btn-primary btn-sm" href="{{ site.baseurl }}{% post_url /competition_info/2018/2018-07-21-champions-cup-2018 %}">大会詳細へ</a>
</div>

<div class="well">
    <h4>NOTICE</h4>
    <h5>関西地方で発生した地震の影響により、関西地区大会開催を延期しております。</h5>
    <a class="btn btn-primary btn-sm" href="{{ site.baseurl }}{% post_url /topics/2018/2018-06-25-kansai-championship-postponement %}">詳細へ</a>
</div>
