<div class="well">
    <h4><strong>NEXT EVENT</strong></h4>
    <h5><strong>ジャパンカップ2017</strong></h5>
    <a class="btn btn-primary btn-sm" href="{{ site.baseurl }}{% post_url /competition_info/2017/2017-09-23-japancup-2017 %}">大会詳細へ</a>
</div>

<div class="well">
    <h4><strong>2017年度加盟申請</strong></h4>
    <p><strong>JFIC主催・主管事業に参加する選手は連盟への加盟申請が必要です。</strong></p>
    <a class="btn btn-primary btn-sm" href="{{ site.baseurl }}{% post_url /info/2017-05-04-registration-for-2017 %}">加盟申請詳細へ</a>
</div>

<div class="well">
    <h4><strong>賛助会員募集のお知らせ</strong></h4>
    <p><strong>連盟の活動を支えてくださる会員様を募集しております。</strong></p>
    <a class="btn btn-primary btn-sm" href="{{ site.baseurl }}{% post_url /info/2017-05-04-invite-donation-detail %}">賛助会員詳細へ</a>
</div>
