/* for footer */

.jfic-footer-color {
    background-color: $jfic-footer-color;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
    padding-left:0;
}
.logo-list {
    list-style: none;
    margin-left: 0;
    padding-left:0;
}
.logo-list--item {
    text-align: center;
    margin: 2em auto;

    > a img {    
        max-width: 180px;
        height: auto;
    }
}
.logo-list--item-small {
    text-align: center;
    margin: 2em auto;

    > a img {    
        max-width: 150px;
        height: auto;
    }
}

/* for icon svg */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

/* for media */

.jfic-media {
    width: 100%
}
.jfic-media:before,
.jfic-media:after {
    display: table; /*for clearfix*/
    content: " "; /*for clearfix*/
}
.jfic-media:after {
    clear: both; /*for clearfix*/
}
.jfic-media-img {
    float: left;
    max-width: 50%;
    height: auto;
    margin-right: 1em;
    
    > img {
        display: block;
        width: 100%;
    }
}
.jfic-media-body {
    /*overflow: hidden;*/ /*画像の下への文章回り込みを禁止*/
}
