


                <div class="jfic-event-card">
                    <div class="jfic-event-card__header">
                        <h3 class="jfic-event-card__title">LATEST EVENT</h3>
                    </div>
                    <div class="jfic-event-card__body">
                        <div class="jfic-event-card__date">
                            <span class="jfic-event-card__day">22</span>
                            <span class="jfic-event-card__month">FEB 2026</span>
                        </div>
                        <h4 class="jfic-event-card__event-name">
                            2026 UCI サイクルサッカー<br>ワールドカップ アジアラウンド
                        </h4>
                        <a class="jfic-btn jfic-btn--primary jfic-btn--block" href="{% post_url /competition_info/2026/2026-02-22-world-cup-2026-asia %}">
                            イベント詳細
                            <svg class="jfic-btn__icon" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                <path d="M6 12L10 8L6 4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </div>
                </div>