<!--
<div class="well">
    <h4><strong>LATEST RESULT</strong></h4>

    <h5><strong>2018 年度チャンピオンズカップ</strong></h5>
    <p>(世界選手権派遣選手選考会)</p>
    <p>2018 年 7 月 21 日、22 日＠東京工業大学</p>
    <a class="btn btn-primary btn-sm" href="{{ site.baseurl }}{% post_url /competition_info/2018/2018-07-21-champions-cup-2018 %}">大会詳細へ</a>
</div>
-->
<a href="{{ site.baseurl }}{% post_url /topic/2021/2021-06-26-notice %}">
  <div class="well">  
    <h4><strong>2021 年度チャンピオンズカップ開催のお知らせ</strong></h4>
    <h5><strong>2021 年 7 月 27 日（火）</strong></h5>
    <p></p>
  </div>
</a>
