<div class="well">
  <h4><strong>NEXT EVENT</strong></h4>
  <h5><strong>2024 年 3 月 23 日 2024 UCI サイクルサッカーワールドカップ アジアラウンド</strong></h5>
  <a class="btn btn-primary btn-sm" href="{% post_url competition_info/2024/2024-03-23-world-cup-2024-asia %}">詳細へ</a>
  <br>
  <br>
  <h4><strong>LATEST RESULT</strong></h4>
  <h5><strong>2023 年 12 月 2 日 第 54 回全日本室内自転車競技選手権大会</strong></h5>
  <a class="btn btn-primary btn-sm" href="{% post_url competition_info/2023/2023-12-03-japan-championship-2023 %}">詳細へ</a>

</div>
